<div class="jumbotron center">
  <h1>Welcome to Shminteresting</h1>

  <p>Upload photos and make it rain fun and good times in your eyes</p>

  <p> 
    <%= link_to "log in", new_user_session_path, class:"btn btn-default btn-lg" %>
    <%= link_to "sign up", new_user_registration_path, class:"btn btn-danger btn-lg" %>  
  </p>
</div>