<div class="jumbotron">
  <h1>About us as in me</h1>
  <p>We are working on our app and our abs and our <span class="brand-font brand-primary">Pinteresting</span> app</p>
  <h2>The most interesting man in the world</h2>
  <p>That person is probably not on the internet.  But I am, and I made this website for the world to make eyeball-love to with their eyeballs.</p>
<div><!-- /.jumbotron -->