<div class="jumbotron">
  <h1>About us as in me</h1>
  <p>We are working on our app and our abs and our <span class="brand-font brand-primary">Shminteresting</span> app</p>
  <h2>The most interesting man in the world</h2>
  <p>is probably not on the internet working on rails apps. Can he even be interesting?  Perhaps it is a she you sexist bro-man! Regardless of that interesting character's interests, I am here, and I made this website for the world to make eyeball-love to. Andy Warthog once said one day everyone will get 15 minutes of fame with their own personal photo sharing app and I am proof that this is true truth. I am very very famous and important (in my colorful Lego city I built in my basement) wait my mom is calling me for din-din bye.</p>
  <%= image_tag "burro.jpg", :alt => "donkey love is your donkey man" %> 
<div><!-- /.jumbotron -->