<div class="jumbotron">
  <h1>Welcome to my app it is my app</h1>
  <p>Sign up today to change your life</p>

  <p>Click here to <%= link_to "sign up", "#", class:"btn btn-default btn-lg" %> </p>
</div>