<div class="jumbotron center">
  <h1>Welcome to my app it is my app</h1>
  <p>Sign up today to change your life</p>

  <p> <%= link_to "log in", "#", class:"btn btn-default btn-lg" %>
      <%= link_to "sign up", "#", class:"btn btn-danger btn-lg" %>  
  </p>
</div>