<<<<<<< HEAD
<h1>Welcome to my app it is my app</h1>
<p>Sign up today to change your life</p>

<p>Sign up <a href="#">HERE</a> to make your life magic</p>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
>>>>>>> 0a5a7b9e2e27f296027e8f44b1af562414238e81
